html,body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #000000;
  color: rgb(240, 240, 240)
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.code {
  font-family: 'Courier', sans-serif;
}
h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { 
  color: #ffffff;
  font-size: 3.5em; 
  padding: 5px;
}
h2 {
  color: #b0b0b0;
  font-size: 2em;
}

.center {
    margin: auto;
    text-align: center;
}

a:link {
  color: #b0b0b0;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #b0b0b0;
  background-color: transparent;
  text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #000000;
    color: white;
  }
  .fa-linkedin {
    background: #000000;
    color: white;
  }
  .fa-envelope {
    background: #000000;
    color: white;
  }
  .fa-reddit {
    background: #000000;
    color: white;
  }
  .fa-twitter {
    background: #000000;
    color: white;
  }
  .footer-copyright {
    font-size: 12px;
  }